<h1>Thank You for Your Inquiry!</h1>

<p>Thank you for using Full House for your house search needs.
  A realtor has responded to your inquiry. Please visit
  your Full House search engine to check your updated house inquiry.</p>
