<h1>Welcome to FullHouse!</h1>
<p>
  You have successfully signed up as a <%= @type %>,<br>
  Username: <%= @email %>.<br>
  Password: <%= @password %>
</p>
<h3><strong>Please login and change your password!</strong></h3>
<p>Thanks for joining and have a great day!</p>