<!--Home Page Banner-->
<br/><br/>
<h1>Welcome to 'Full House'</h1>
<h3>You're One Stop Shop for Home Searching</h3>

<!--Company Logo or Photo-->
<br/><br/>
<%= image_tag("Houses/Pretty_Blue.PNG") %>
<br/><br/>

